button {
  appearance: none;
  background-color: #ec4017;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  padding: 0.55em 0;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover {
    background-color: shade(#ec4017, 20%);
    color: #fff; }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover {
      background-color: #ec4017; }

form {
  position: relative;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  margin-bottom: 10px; }
  form div.wrap {
    border-radius: 5px;
    overflow: hidden; }
  form input#fieldEmail {
    float: left;
    border: none;
    padding: 9px 10px;
    border-radius: 5px 0px 0 5px;
    width: 70%;
    margin: 0;
    position: relative;
    z-index: 5; }
  form button, form input[type="submit"] {
    width: 30%;
    float: left;
    top: -1px; }

button[type="submit"], input[type="submit"] {
  text-indent: -9999px;
  position: relative;
  z-index: 2;
  border: none;
  border-radius: 0px 5px 5px 0px; }
  button[type="submit"]:before, button[type="submit"]:after, input[type="submit"]:before, input[type="submit"]:after {
    content: '';
    position: absolute;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-size: 25px;
    top: 0;
    padding: 0.25em 1.5em 0.15em;
    width: 100%;
    text-indent: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    min-height: 35px; }
  button[type="submit"]:before, input[type="submit"]:before {
    background: #ec4017 url(../img/arrow.png) no-repeat center center;
    color: #fff; }
  button[type="submit"]:after, input[type="submit"]:after {
    left: 101%;
    background: #33253f url(../img/arrow.png) no-repeat center center;
    color: #fff; }
  button[type="submit"]:hover, input[type="submit"]:hover {
    background: #33253f; }
    button[type="submit"]:hover:before, button[type="submit"]:hover:after, input[type="submit"]:hover:before, input[type="submit"]:hover:after {
      margin-left: -101%; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 14px; }

input,
select[multiple] {
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.9em 0.6em;
  transition: border-color 150ms ease;
  width: 100%;
  color: #635C51;
  font-size: 0.95em;
  text-transform: uppercase;
  font-weight: 400; }
  input:hover,
  select[multiple]:hover {
    border-color: shade(gainsboro, 20%); }
  input:focus,
  select[multiple]:focus {
    border-color: transparent;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(138, 138, 138, 0.7);
    outline: none; }
  input:disabled,
  select[multiple]:disabled {
    background-color: shade(#fff, 5%);
    cursor: not-allowed; }
    input:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid gainsboro; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

input.search-field {
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 600px) {
    input.search-field {
      max-width: 300px; } }

#subForm {
  margin-top: 5px; }

@media screen and (min-width: 600px) {
  .textwidget .button {
    max-width: 300px; } }
